.punk__list {
  display: flex;
  cursor: pointer;
  overflow: scroll;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #1a1c1e;

  &::-webkit-scrollbar {
    display: none;
  }
}
